@charset "UTF-8";
body {
  margin: 0;
  position: relative;
  font-family: "roboto";
  margin: auto;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 70%;
    margin: auto;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  body {
    width: 50%;
    margin: auto;
  }
}
@media screen and (min-width: 1601px) {
  body {
    width: 50%;
  }
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  /* homepage titre RESERVEZ LE MENU QUI VOUS CONVIENT */
  font-size: 1.2em;
  font-weight: bold;
}

h2 {
  /* homepage titre FONCTIONNEMENT et RESTAURANTS */
  font-size: 1em;
}

h3 {
  font-size: 0.9em;
}

p {
  font-size: 0.8em;
  margin: 0;
}

.fa-arrow-left {
  color: black;
}

@keyframes disappear {
  0% {
    opacity: 1;
    z-index: 3;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
@keyframes heart_filling {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(0);
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(20px);
    transform: translateY(-10px);
  }
}
@keyframes translateX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-60px);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes ellipsis {
  from {
    width: 75%;
  }
  to {
    width: 60%;
  }
}
.loading_spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  background-color: #fff;
  opacity: 0.9;
  animation: disappear 200ms 2700ms ease-in-out forwards;
}
.loading_spinner i {
  font-size: 50px;
  color: #99e2d0;
  animation: rotate 800ms 100ms ease-in-out;
  animation-iteration-count: 3;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .loading_spinner {
    width: 70%;
    margin: auto;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .loading_spinner {
    width: 50%;
    margin: auto;
  }
}
@media screen and (min-width: 1601px) {
  .loading_spinner {
    width: 50%;
    margin: auto;
  }
}

header {
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
}
header img {
  width: 200px;
  margin: auto;
}
header i {
  padding-left: 15px;
  font-size: 1.5em;
}

/*------------------------------------ INTRO -------------------------------------*/
.intro {
  text-align: center;
  background-color: #edebeb;
  font-family: "roboto";
}
.intro .intro__loc {
  background-color: #ded9db;
  box-shadow: inset 3px 3px 5px #c9c8c8;
  display: flex;
  justify-content: center;
  font-size: 1em;
  padding-top: 15px;
}
.intro i {
  padding-right: 15px;
}
.intro .intro__res {
  max-width: 220px;
  margin: auto;
  text-align: center;
  overflow-wrap: wrap;
  padding: 0 30px 30px 30px;
}
.intro p {
  padding-bottom: 20px;
  /*padding-bottom pour aérer le bouton*/
  color: #474646;
}

/*----------------------------------- FONCTIONNEMENT ----------------------------*/
.fct {
  padding-bottom: 20px;
  margin: auto;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fct {
    width: 70%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .fct {
    width: 70%;
  }
}
@media screen and (min-width: 1601px) {
  .fct {
    width: 700px;
  }
}
.fct h2 {
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fct h2 {
    text-align: center;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .fct h2 {
    text-align: center;
  }
}
@media screen and (min-width: 1601px) {
  .fct h2 {
    text-align: center;
  }
}

.fct__select {
  width: 90%;
  height: 50px;
  margin: auto;
  position: relative;
  background: #edebeb;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #c9c8c8;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-weight: bold;
}
@media screen and (min-width: 1601px) {
  .fct__select {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .fct__select:active::after {
    opacity: 0.2;
  }
}
@media screen and (min-width: 1025px) {
  .fct__select:hover::after {
    opacity: 0.2;
  }
}
.fct__select .fct__select__number {
  background-color: #9356DC;
  color: #ffff;
  border-radius: 100%;
  padding: 5px 8px 5px 8px;
  position: relative;
  left: -8px;
  z-index: 3;
}
.fct__select .fct__select__text i {
  padding: 0 20px 0 20px;
  color: grey;
}

.fct__select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  background: #c9abee;
  opacity: 0;
  z-index: 2;
}

/*---------------------------------- RESTAURANTS  ---------------------------*/
.restaurant {
  background-color: #edebeb;
  padding-bottom: 15px;
}
.restaurant h2 {
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant h2 {
    text-align: center;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .restaurant h2 {
    text-align: center;
  }
}
@media screen and (min-width: 1601px) {
  .restaurant h2 {
    text-align: center;
  }
}
.restaurant .restaurant__select {
  width: 90%;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .restaurant .restaurant__select {
    max-width: 45%;
  }
}
@media screen and (min-width: 1601px) {
  .restaurant .restaurant__select {
    max-width: 45%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .breakpoints_block {
    width: 70%;
    margin: auto;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .breakpoints_block {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1601px) {
  .breakpoints_block {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}

.restaurant span {
  background-color: #6ff5ee;
  color: #0d998b;
  padding: 5px 10px 5px 10px;
  z-index: 1;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 15px;
}

figure {
  margin: auto;
}
figure img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

figcaption {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
figcaption .restaurant__select__name {
  display: flex;
  flex-direction: column;
}
figcaption h3 {
  margin: 0;
  font-size: 0.9em;
}
figcaption p {
  margin: 0;
  font-size: 0.8em;
}

.like {
  position: relative;
  font-size: 1.2em;
}
.like .full_heart {
  position: absolute;
  z-index: 10;
  background-image: radial-gradient(at top left, #ff7ad9, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
.like .empty_heart i {
  color: black;
  background-color: #fff;
  position: relative;
  z-index: 11;
}

.empty_heart-menu i {
  color: black;
  background-color: #edebeb;
  position: relative;
  z-index: 11;
}

@media screen and (max-width: 1024px) {
  .empty_heart i:active {
    animation: heart_filling 500ms ease-out forwards;
  }
}

@media screen and (min-width: 1025px) {
  .empty_heart i:hover {
    animation: heart_filling 500ms ease-out forwards;
  }
}

@media screen and (min-width: 1025px) {
  .empty_heart-menu i:hover {
    animation: heart_filling 500ms ease-out forwards;
  }
}

@media screen and (max-width: 1024px) {
  .empty_heart-menu i:active {
    animation: heart_filling 500ms ease-out forwards;
  }
}

.background img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .background img {
    height: 300px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .background img {
    height: 450px;
  }
}
@media screen and (min-width: 1601px) {
  .background img {
    height: 400px;
  }
}

.menu__background {
  background-color: #edebeb;
  position: relative;
  margin-top: -80px;
  padding-bottom: 30px;
  /*padding-bottom pour aérer le bouton*/
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu__background {
    margin-top: -50px;
  }
}
@media screen and (min-width: 1601px) {
  .menu__background {
    margin-top: -70px;
  }
}

.restaurant__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px 10px 0 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant__name {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .restaurant__name {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1601px) {
  .restaurant__name {
    justify-content: space-around;
  }
}
.restaurant__name h1 {
  font-family: "shrikhand";
}

.underline {
  width: 30px;
  height: 2px;
  background-color: #99e2d0;
  margin-bottom: 20px;
}

.menu {
  width: 290px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.menu h2 {
  margin-bottom: 4px;
}

.card__1, .card__2, .card__3 {
  opacity: 0;
}

.card__1 {
  animation: appear 400ms 100ms ease-in-out both;
}

.card__2 {
  animation: appear 400ms 300ms ease-in-out both;
}

.card__3 {
  animation: appear 400ms 500ms ease-in-out both;
}

.card__4 {
  animation: appear 400ms 700ms ease-in-out both;
}

.menu {
  width: 290px;
  margin: auto;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu {
    width: 350px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .menu {
    width: 500px;
  }
}
@media screen and (min-width: 1601px) {
  .menu {
    width: 500px;
  }
}

.menu__card {
  background-color: #fff;
  width: 100%;
  height: 50px;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  position: relative;
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .menu__card {
    height: 60px;
  }
}
@media screen and (min-width: 1601px) {
  .menu__card {
    height: 60px;
  }
}

.menu__descr-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
}

.menu__descr {
  width: 75%;
}
.menu__descr h3, .menu__descr p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__price {
  padding-top: 15px;
  font-size: 0.8em;
  font-weight: bold;
}

.menu__check {
  position: absolute;
  right: -60px;
  width: 60px;
  height: 70px;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .menu__check {
    height: 60px;
  }
}
@media screen and (min-width: 1601px) {
  .menu__check {
    height: 60px;
  }
}

.menu__check i {
  padding: 19px;
  color: #fff;
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .menu__check i {
    padding: 20px;
  }
}
@media screen and (min-width: 1601px) {
  .menu__check i {
    padding: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .menu__card:hover .menu__check {
    animation: translateX 500ms ease-in-out both;
  }
  .menu__card:hover .menu__check i {
    animation: rotate 700ms 300ms;
  }
}

@media screen and (min-width: 1025px) {
  .menu__card:hover .menu__price {
    animation: translateX 500ms ease-in-out both;
  }
}

@media screen and (min-width: 1025px) {
  .menu__card:hover .menu__descr {
    animation: ellipsis 500ms ease-in-out both;
  }
}

@media screen and (max-width: 1024px) {
  .menu__card:active .menu__check {
    animation: translateX 500ms ease-in-out both;
  }
  .menu__card:active .menu__check i {
    animation: rotate 700ms 300ms;
  }
}

@media screen and (max-width: 1024px) {
  .menu__card:active .menu__price {
    animation: translateX 500ms ease-in-out forwards;
  }
}

@media screen and (max-width: 1024px) {
  .menu__card:active .menu__descr {
    animation: ellipsis 500ms ease-in-out forwards;
  }
}

.btn {
  width: 230px;
  height: 60px;
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 1ems;
  font-weight: bold;
  background-image: radial-gradient(at top left, #ff7ad9, #9356DC);
  box-shadow: 5px 5px 5px #c9c8c8;
  border-radius: 30px;
  padding: 15px;
  margin: auto;
  border: none;
}
.btn:hover::after {
  opacity: 0.7;
  box-shadow: 10px 10px 5px #c9c8c8;
}
.btn::after {
  content: "";
  background-image: radial-gradient(at top left, #ff94e0, #a16be0);
  height: 60px;
  border-radius: 30px;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

.commander {
  text-align: center;
  padding-top: 30px;
}

footer {
  background-color: #464444;
  color: #fff;
  padding: 20px 20px 10px 20px;
}
footer .logo__title {
  font-family: "shrikhand";
  font-size: 1.5em;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer .logo__title {
    text-align: center;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  footer .logo__title {
    text-align: center;
  }
}
@media screen and (min-width: 1601px) {
  footer .logo__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer .breakpoints__footer {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  footer .breakpoints__footer {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1601px) {
  footer .breakpoints__footer {
    display: flex;
    justify-content: space-evenly;
  }
}
footer i {
  padding-right: 10px;
}
footer a {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
