@charset "UTF-8";
/* POLICES */
/* COULEURS */
/*utilisé aussi pour box-shadow*/
body {
  width: 100%;
  font-family: "roboto";
}

a {
  text-decoration: none;
}

h1 {
  /* homepage titre RESERVEZ LE MENU QUI VOUS CONVIENT */
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  /* homepage titre FONCTIONNEMENT et RESTAURANTS */
  font-size: 1.5em;
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;
}

/*h3 : homepage: nestés dans figcaption */
h4 {
  /*menu titre des resto avec coeur à liker - display: flex*/
  font-family: "shrikhand";
  font-size: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
}

h5 {
  /* menu titre des dishes__item*/
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 3px;
}

p {
  font-size: 1em;
}

header {
  text-align: center;
  padding: 5px;
}

header img {
  width: 150px;
}

footer {
  background-color: #464444;
  color: #fff;
  padding: 20px 0 10px 20px;
}

footer .logo_title {
  font-family: "shrikhand";
  font-size: 1.5em;
}

i {
  padding-right: 15px;
}

a {
  color: #fff;
}

.btn {
  width: 250px;
  color: #ffff;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #9356DC;
  -webkit-box-shadow: inset 20px 20px 50px #ff7ad9, 5px 5px 5px #ded9db;
          box-shadow: inset 20px 20px 50px #ff7ad9, 5px 5px 5px #ded9db;
  border-radius: 30px;
  padding: 20px;
  border: none;
}

.btn:hover {
  background-color: #ae80e5;
}

.like {
  background-color: red;
  position: relative;
  z-index: 1;
}

.like :hover::after {
  opacity: 1;
}

.like::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  color: #9356DC;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

/* .like {
    box-sizing: content-box;
    background-color: yellow;
    position: relative;
    z-index: 1;
    :hover {
        &.like--full  {
            opacity: 1;
        }
    }
}
    .like--full {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0; 
        color: $primary-color;
        transition: opacity 250ms;
    }
}
*/
/*-------------------------------- SECTION INTRO ----------------------------*/
.intro {
  text-align: center;
  background-color: #edebeb;
  font-family: "roboto";
}

.intro .intro__loc {
  background-color: #ded9db;
  /* box-shadow: inset; ombre à rajouter */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
}

.intro i {
  padding-right: 15px;
}

.intro__res {
  padding: 0 30px 30px 30px;
}

/*------------------------ SECTION FONCTIONNEMENT --------------------------*/
.function {
  margin: auto;
}

/* Contenu FONCTIONNEMENT :
    1 selecteur <function__> appliqué pour les 3 étiquettes*/
.function__item {
  width: 90%;
  margin: auto;
  background-color: #edebeb;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px #ded9db;
          box-shadow: 3px 3px 5px #ded9db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  /*@include tablet {
            width: 70%;
        }*/
}

.function__item:hover {
  background-color: rgba(104, 50, 170, 0.1);
}

.function__item .function__item__number {
  background-color: #9356DC;
  color: #ffff;
  border-radius: 100%;
  padding: 5px 8px 5px 8px;
  position: relative;
  left: -8px;
}

.function__item .function__item__text i {
  padding: 0 20px 0 20px;
  color: grey;
}

/*----------------------------------- SECTION 3 : MAIN -----------------------*/
.main {
  background-color: #edebeb;
  padding-bottom: 15px;
}

.main .main__item {
  width: 90%;
  position: relative;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
}

.main span {
  background-color: #6ff5ee;
  color: #0d998b;
  padding: 5px 10px 5px 10px;
  z-index: 1;
  display: inline block;
  position: absolute;
  right: 20px;
  top: 15px;
}

figure {
  margin: auto;
}

figure img {
  width: 100%;
  max-height: 490px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

figcaption {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2em;
  padding: 8px;
}

figcaption .main__item__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

figcaption h3 {
  margin: 0;
  font-size: 1em;
}

figcaption p {
  margin: 0;
  font-size: 0.8em;
}

/* style de l'icone coeur dans le partiel _like_btn.scss */
.background img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.menu {
  position: relative;
  top: 180px;
  background-color: #edebeb;
  border-radius: 40px 40px 0 0;
}

.dishes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.dishes__content .subtitle {
  padding-bottom: 4px;
  border-bottom: solid #99e2d0 2px;
  margin: 20px;
}

.dishes__item {
  width: 300px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 15px 15px;
  padding: 15px;
}

.dishes__item .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dishes__item p {
  margin: 0;
}

/*.dishes__item {
    @include tablet {
        width: 450px;
    }
}*/
.dishes__starters, .dishes__main, .dishes__deserts {
  margin-bottom: 30px;
}

.btn {
  -ms-grid-column-align: center;
      justify-self: center;
}
/*# sourceMappingURL=styles.css.map */