@charset "UTF-8";
/* POLICES */
/* COULEURS */
#block-page {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

h1 {
  /* homepage titre RESERVEZ LE MENU QUI VOUS CONVIENT */
  font-size: 1.2em;
  font-weight: bold;
}

h2 {
  /* homepage titre FONCTIONNEMENT et RESTAURANTS */
  font-size: 1em;
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;
}

/*h3 : homepage: nestés dans figcaption */
h4 {
  /*menu titre des resto avec coeur à liker - display: flex*/
  font-family: "shrikhand";
  font-size: 1.2em;
}

h5 {
  /* menu titre des dishes__item*/
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
}

p {
  font-size: 0.8em;
}

@keyframes disappear {
  0% {
    opacity: 1;
    z-index: 3;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}
@keyframes heart_filling {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  25% {
    transform: translateY(-30px);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.9;
  }
  75% {
    transform: tanslateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    margin-right: 100%;
    width: 80%;
  }
  to {
    margin-right: 80%;
    width: 70%;
  }
}
@keyframes border_radius {
  0% {
    border-radius: 15px;
  }
  2%, 100% {
    border-radius: 15px 0 0 15px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
body {
  margin: 0;
  font-family: "roboto";
}

.main_content {
  position: relative;
  z-index: 0;
}

header {
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
}
header img {
  width: 200px;
  margin: auto;
}
header i {
  padding-left: 15px;
  font-size: 1.5em;
}

.intro {
  text-align: center;
  background-color: #edebeb;
  font-family: "roboto";
}
.intro .intro__loc {
  background-color: #ded9db;
  box-shadow: inset 3px 3px 5px #c9c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}
.intro i {
  padding-right: 15px;
}
.intro .intro__res {
  padding: 0 30px 30px 30px;
}

/*------------------------ P1 / SECTION FONCTIONNEMENT --------------------------*/
.fct {
  margin: auto;
}
@media screen and (min-width: 768px) {
  .fct {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .fct {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .fct h2 {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .fct {
    width: 30%;
    margin: auto;
  }
}

/* Contenu FONCTIONNEMENT :
1 selecteur <fct__> appliqué pour les 3 étiquettes*/
.fct__select {
  width: 90%;
  margin: auto;
  position: relative;
  background: #edebeb;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #c9c8c8;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.fct__select:hover {
  background: rgba(104, 50, 170, 0.1);
}
.fct__select .fct__select__number {
  background-color: #9356DC;
  color: #ffff;
  border-radius: 100%;
  padding: 5px 8px 5px 8px;
  position: relative;
  left: -8px;
}
.fct__select .fct__select__text i {
  padding: 0 20px 0 20px;
  color: grey;
}

/*-----------------------------------P1 // restaurant__select ---------------------------*/
.restaurant {
  background-color: #edebeb;
  padding-bottom: 15px;
}
.restaurant .restaurant__select {
  width: 90%;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .restaurant .restaurant__select {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant .restaurant__select {
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .laptop-size {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .laptop-size {
    width: 50%;
    margin: auto;
  }
}

.restaurant span {
  background-color: #6ff5ee;
  color: #0d998b;
  padding: 5px 10px 5px 10px;
  z-index: 1;
  display: inline block;
  position: absolute;
  right: 20px;
  top: 15px;
}

figure {
  margin: auto;
}
figure img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

figcaption {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
figcaption .restaurant__select__name {
  display: flex;
  flex-direction: column;
}
figcaption h3 {
  margin: 0;
  font-size: 0.9em;
}
figcaption p {
  margin: 0;
  font-size: 0.8em;
}

.like {
  position: relative;
  top: 10px;
  right: 30px;
  font-size: 1.2em;
}
.like .full_heart i {
  position: absolute;
  z-index: 10;
  color: #99e2d0;
}
.like .empty_heart i {
  color: #99e2d0;
  background-color: #fff;
  position: absolute;
  z-index: 11;
}

.empty_heart i:hover {
  animation: heart_filling 1000ms ease-out forwards;
}

.background img {
  width: 100%;
  object-fit: cover;
}

.menu__background {
  position: relative;
  margin-top: -80px;
  background-color: #edebeb;
  border-radius: 40px 40px;
}

.menu__descr {
  width: 300px;
  margin: auto;
}

.restaurant__name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.dish__content {
  padding-bottom: 30px;
}

#underline {
  width: 30px;
  height: 4px;
  background-color: #99e2d0;
  margin-bottom: 15px;
}

.dish__select {
  position: relative;
  margin-bottom: 15px;
}

.dish__select__text {
  position: relative;
  z-index: 1;
  background-color: #fff;
  height: 50px;
  border-radius: 15px;
  padding: 10px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__select__text p {
  margin: 0;
}
.dish__select__text .price {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.dish__select__check {
  position: absolute;
  left: 230px;
  bottom: 0px;
  z-index: 0;
  width: 70px;
  height: 70px;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
}
.dish__select__check i {
  color: #fff;
  padding: 30px 35px;
}

.dish__select__text:hover {
  animation: slidein 800ms, border_radius 20ms ease-in-out;
  animation-fill-mode: forwards;
}
.dish__select__text:hover + .dish__select__check i {
  animation: rotate 500ms 300ms;
}

.btn {
  width: 250px;
  height: 80px;
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  background: radial-gradient(at top left, #ff7ad9, #9356DC);
  box-shadow: 5px 5px 5px #c9c8c8;
  border-radius: 30px;
  padding: 21px;
  border: none;
}
.btn:hover::after {
  opacity: 0.7;
  box-shadow: 10px 10px 5px, #c9c8c8;
}
.btn::after {
  content: "";
  background: radial-gradient(at top left, #ff94e0, #a16be0);
  height: 80px;
  border-radius: 30px;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

footer {
  background-color: #464444;
  color: #fff;
  padding: 20px 0 10px 20px;
}
@media screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
}
footer .logo_title {
  font-family: "shrikhand";
  font-size: 1.5em;
}
@media screen and (min-width: 768px) {
  footer p {
    margin-top: 8px;
    margin-right: 25px;
  }
}
footer i {
  padding-right: 10px;
}
footer a {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
