@charset "UTF-8";
/* POLICES */
/* COULEURS */
/*utilisé aussi pour box-shadow*/
body {
  margin: auto;
  font-family: "roboto";
}

a {
  text-decoration: none;
}

h1 {
  /* homepage titre RESERVEZ LE MENU QUI VOUS CONVIENT */
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  /* homepage titre FONCTIONNEMENT et RESTAURANTS */
  font-size: 1.5em;
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;
}

/*h3 : homepage: nestés dans figcaption */
h4 {
  /*menu titre des resto avec coeur à liker - display: flex*/
  font-family: "shrikhand";
  font-size: 1.6em;
  padding-top: 20px;
}

h5 {
  /* menu titre des dishes__item*/
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 3px;
}

p {
  font-size: 0.8em;
}

@keyframes check_rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes slidein {
  from {
    margin-right: 100%;
    width: 100%;
  }
  to {
    margin-right: 80%;
    width: 80%;
  }
}
@keyframes border_radius {
  0% {
    border-radius: 20px;
  }
  2%, 100% {
    border-radius: 0;
  }
}
header {
  text-align: center;
  padding: 5px;
}
header img {
  width: 300px;
}

.intro {
  text-align: center;
  background-color: #edebeb;
  font-family: "roboto";
}
.intro .intro__loc {
  background-color: #ded9db;
  /* box-shadow: inset; ombre à rajouter */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}
.intro i {
  padding-right: 15px;
}
.intro .intro__res {
  padding: 0 30px 30px 30px;
}

/*------------------------ P1 / SECTION FONCTIONNEMENT --------------------------*/
.fct {
  margin: auto;
}

/* Contenu FONCTIONNEMENT :
1 selecteur <fct__> appliqué pour les 3 étiquettes*/
.fct__select {
  width: 90%;
  margin: auto;
  background-color: #edebeb;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #ded9db;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.fct__select:hover {
  background-color: rgba(104, 50, 170, 0.1);
}
.fct__select .fct__select__number {
  background-color: #9356DC;
  color: #ffff;
  border-radius: 100%;
  padding: 5px 8px 5px 8px;
  position: relative;
  left: -8px;
}
.fct__select .fct__select__text i {
  padding: 0 20px 0 20px;
  color: grey;
}

/*-----------------------------------P1 // restaurant ---------------------------*/
.restaurant {
  background-color: #edebeb;
  padding-bottom: 15px;
}
.restaurant .restaurant__select {
  width: 90%;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
}

.restaurant span {
  background-color: #6ff5ee;
  color: #0d998b;
  padding: 5px 10px 5px 10px;
  z-index: 1;
  display: inline block;
  position: absolute;
  right: 20px;
  top: 15px;
}

figure {
  margin: auto;
}
figure img {
  width: 100%;
  max-height: 490px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

figcaption {
  color: black;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding: 8px;
}
figcaption .restaurant__select__name {
  display: flex;
  flex-direction: column;
}
figcaption h3 {
  margin: 0;
  font-size: 1em;
}
figcaption p {
  margin: 0;
  font-size: 0.8em;
}

#full_heart {
  color: blue;
}
#full_heart:hover {
  transition: transform 400ms ease-in-out, color 300ms 300ms;
  color: red;
}

.background img {
  width: 100%;
  object-fit: cover;
}

.menu {
  position: relative;
  margin: -40px 0 0 0;
  background-color: #edebeb;
  border-radius: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu__like {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.menu__like h4 {
  width: 270px;
}
.menu__like i {
  font-size: 1.5em;
}

.dish__content {
  width: 270px;
  padding-bottom: 30px;
}

#underline {
  width: 30px;
  height: 4px;
  background-color: #99e2d0;
  margin-bottom: 15px;
}

.dish__select {
  position: relative;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  padding: 10px 15px;
}
.dish__select p {
  margin: 0;
}
.dish__select .price {
  display: flex;
  justify-content: space-between;
}

.dish__select__check {
  position: relative;
  left: 230px;
  bottom: 70px;
  z-index: 0;
  width: 70px;
  height: 70px;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
}
.dish__select__check i {
  color: #fff;
  padding: 30px 35px;
}

.dish__select:hover {
  animation: slidein 800ms, border_radius 20ms ease-in-out;
  animation-fill-mode: both;
}
.dish__select:hover + .dish__select__check i {
  animation: check_rotate 500ms 300ms;
}

.btn {
  justify-self: center;
}

.btn {
  width: 250px;
  color: #ffff;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #9356DC;
  box-shadow: inset 20px 20px 50px #ff7ad9, 5px 5px 5px #ded9db;
  border-radius: 30px;
  padding: 20px;
  border: none;
}
.btn:hover {
  background-color: #ae80e5;
}

footer {
  background-color: #464444;
  color: #fff;
  padding: 20px 0 10px 20px;
}
footer .logo_title {
  font-family: "shrikhand";
  font-size: 1.5em;
}
footer i {
  padding-right: 15px;
}
footer a {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
