/*------------------------------   GENERIQUE  ---------------------------*/
$font-text: 'roboto';
$font-title: 'shrikhand';


$primary-color: #9356DC;
$secondary-color: #ff7ad9;
$tertiary-color: #99e2d0;
$background-color: #edebeb;
$background-color-loc: #ded9db;
$background-color-footer: #464444;

body {
    width: 100%;
    font-family: $font-text;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.2em;
    padding: 20px 0 5px 10px;
}


/*--------------------------  SELECTEURS COMMUNS  -------------------------*/
.btn {
    width: 230px;
    color: #ffff;
    font-weight: bold;
    background-color: $secondary-color;
    border-radius: 30px;
    padding: 15px;
    border: none;
    &:hover {
        background-color: darken ($secondary-color 10%);
    }
}

/*--------------------------------  HEADER  --------------------------------*/
header img {
    width: 150px;
    padding-bottom: 15px;
}

/*---------------------------------- INTRO ----------------------------------*/

.intro {
    text-align: center;
    background-color: $background-color;   
    font-family: $font-text;
    .intro__loc {
        background-color: $background-color-loc;
        /* box-shadow: inset; ombre à rajouter */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        i {
            padding-right: 15px;
        }
    }
    .intro__res {
        padding: 0 30px 30px 30px;
    }
} 

.function {
    margin: auto;
}

/* Contenu FONCTIONNEMENT - 1 selecteur <function__> appliqué pour les 3 étiquettes*/
.function__item {
    width: 90%;
    margin: auto;
    background-color: $background-color;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.function__item__number {
    background-color: $primary-color ;
    color: #ffff;
    border-radius: 100%;
    padding: 5px 8px 5px 8px;
    position: relative;
    left: -8px;
}
.function__item__text i {
    padding: 0 20px 0 20px;
    color: grey;
}


/*-----------------------------------  MAIN -----------------------*/
.main {
    background-color: $background-color;
}

.main__item figure {
    background-color: #fff;
    border-radius: 10px;
    }

.img {
    width: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}
.main :last-child {
    margin-bottom: 15px;
}

/*-------------------------------------- FOOTER ------------------------------*/
footer {
    background-color: $background-color-footer;
    color: #fff;
    padding: 20px 0 10px 15px;
    h4 { 
        display: inline;
        font-family: $font-title;
        font-size: 1.2em; 
    }
    .footer__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 0.2em;
    }
    i {
        padding-right: 15px;
    }
}
