@import "./utils/mixins";
@import "./utils/variables";
@import "./base/base";
@import "./utils/keyframes";



// ********************************************************************************
// **************************************** LOADING SPINNER ***********************
// ********************************************************************************


.loading_spinner {
    position: absolute;
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 15;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .9;
    font-size: 50px;
    overflow: hidden;
    animation: disappear 200ms 3110ms ease-in-out forwards;
    i {
        color: $tertiary-color;
        animation: rotate 1000ms 100ms ease-in-out;
        animation-iteration-count: 3;  
    }
}

//// ********************************************************************************
// **************************************** HEADER **********************************
// ********************************************************************************

header {
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    img {
        width: 200px;
        margin: auto;
    }
    i {
        padding-left: 15px;
        font-size: 1.5em;
    }
}

.intro {
    text-align: center;
    background-color: $background-color-grey; 
    font-family: $font-text;
    .intro__loc {
        background-color: $background-color-loc;
        box-shadow: inset 3px 3px 5px $boxshadow-color ;
        display: flex;
        justify-content: center;
        font-size: 1em;
        padding-top: 15px;
        }
        i {
            padding-right: 15px;
        }
    .intro__res {
        padding: 0 30px 30px 30px;
    }
    p {
        padding-bottom: 20px; /*padding-bottom pour aérer le bouton*/
    }
}
 
// ********************************************************************************
// ********************************** PAGE ACCUEIL ********************************
// ********************************************************************************

/*------------------------ P1 / SECTION FONCTIONNEMENT --------------------------*/
.fct {
    padding-bottom: 20px;
    margin: auto;
    @include laptop-size { 
        width: 70%;
    }
    @include large-screen {
        width: 70%;
    }
    @include big-screen {
        width: 700px;
    }
}
    
    /* Contenu FONCTIONNEMENT :
    1 selecteur <fct__> appliqué pour les 3 étiquettes*/
    
.fct__select {
    width: 90%;
    height: 50px;
    margin: auto;
    position: relative;
    background: $background-color-grey;
    border-radius: $br-select;
    box-shadow: 3px 3px 5px $boxshadow-color;
    display: flex; 
    align-items: center;
    margin-bottom: $margin-bottom-items;
    @include big-screen {
        width: 100%;
    }
    &:hover { 
        &::after { 
        opacity: .2;
        }
    }
    .fct__select__number {
        background-color: $primary-color;
        color: #ffff;
        border-radius: 100%;
        padding: 5px 8px 5px 8px;
        position: relative;
        left: -8px;
        z-index: 3;
    }
    .fct__select__text i {
        padding: 0 20px 0 20px;
        color: grey;
    }
}

.fct__select::after {
    content:"";
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $br-select;
    background: lighten($primary-color,20);
    opacity: 0;
    z-index: 2;
}

/*-----------------------------------P1 // restaurant__select ---------------------------*/

.restaurant {
    background-color: $background-color-grey;
    padding-bottom: 15px;
    .restaurant__select {
        width: 90%;
        position: relative;
        margin: auto;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: $br-select;
        margin-bottom: $margin-bottom-items;
        @include large-screen {
            max-width: 45%;
        }
        @include big-screen {
            max-width: 45%;
        }
    }
}

.breakpoints_block {
    @include laptop-size {
        width: 70%;
        margin: auto;
    }
    @include large-screen {
        width: 70%;
        margin: auto;
        display: flex; 
        justify-content: space-between;
    }
    @include big-screen {
        width: 70%;
        margin: auto;
        display: flex; 
        justif-content: space-between; 
    }
}

.restaurant span { //  Etiquette verte NOUVEAU 
    background-color: $background-color-new;
    color: $font-color-new;
    padding: 5px 10px 5px 10px;
    z-index: 1;
    display: inline block;
    position: absolute;
    right: 20px;
    top: 15px;
}

figure { 
    margin: auto;
    img {
        width: 100%;
        border-radius: $br_restaurant-img;
        object-fit: cover;
    }
}

figcaption {
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    .restaurant__select__name {
        display: flex; 
        flex-direction: column;
    }
    h3 {
        margin: 0;
        font-size: $fontsize_h3;
    }
    p {
        margin: 0;
        font-size: $fontsize_p;
    }
}
.like {
    position: relative;
    // top: 10px;
    // right: 30px;
    font-size: $fontsize_i;
    .full_heart {
        position: absolute;
        z-index: 10;
        @include PinkPurple_background;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
    }
    .empty_heart i {
        color: black;
        background-color: #fff;
        position: relative; 
        z-index: 11;
    }
}

.empty_heart i { 
    &:hover {
        animation: heart_filling 500ms ease-out forwards;
    }
}

// ********************************************************************************
// **************************************** MENU **********************************
// ********************************************************************************


.background img {
    width: 100%;
    object-fit: cover;
    @include laptop-size {
        height: 300px;
    }
    @include large-screen {
        height: 450px;
    }
    @include big-screen {
        height: 400px;
    }
}

.menu__background {
    position: relative;
    margin-top: -80px;
    padding-bottom: 30px; /*padding-bottom pour aérer le bouton*/
    background-color: $background-color-grey;
    border-radius: 40px 40px 0 0;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background-color: $background-color-grey;
    @include laptop-size {
        margin-top: -50px;
    }
    @include big-screen {
        margin-top: -70px;
    }
}

.menu__content {
    padding: 0 15px 30px 15px; /*padding-bottom pour aérer le bouton*/
    width: 290px;
    margin: auto;
    @include laptop-size {
    width: 400px;
    }
    @include large-screen {
    width: 535px;
    }
    @include big-screen {
    width: 800px; 
        }
    }


.restaurant__name {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    @include large-screen {
        justify-content: space-evenly;
    }
}

.underline {
    width: 30px;
    height: 4px;
    background-color: $tertiary-color;
    margin-bottom: 15px;
}

.menu__block {
    // width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: first baseline;
}

// Animation apparition menu__block 1.2.3 
.menu__block {
    opacity: 0;
}

.block-1 {
    animation: appear 600ms 1000ms ease-in-out;    
    animation-fill-mode: forwards; 
}
.block-2 {
    animation: appear 600ms 500ms ease-in-out;
    animation-fill-mode: forwards; 
}
.block-3 {
    animation: appear 600ms 100ms ease-in-out;
    animation-fill-mode: forwards;
}

// Contenu blocs menu 
.menu__block__select {
    position: relative;
    margin-bottom: $margin-bottom-items;
    // width: 100%;
}

.menu__select__text {
    position: absolute;
    z-index: 21;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: $br-select;
    padding: 10px 15px;
    transition: width $check-apparition-time;
    .descr {
        display: flex;
        justify-content: space-between;
    }
    .price {
        @include price_font-style;
    }
}

.menu__select__check {
    position: relative;
    z-index: 20;
    height: 30px;
    background-color: $tertiary-color;
    border-radius: $br-select;
    padding: 10px 15px;
    i {
        color: #fff;
        position: relative;
        left: 245px;
        top: 8px;
        @include laptop-size {
            left: 345px;
        }
        @include large-screen {
            left: 470px;
        }
        @include big-screen {
            left: 710px;
        }
    }
}

.menu__block__select {
    cursor: pointer;
    &:hover {
        & .menu__select__text {
            width: 100% - $check-width;
        }
        & .menu__select__check i {
            @include check-rotate-timing;
        }
    }
}


// ********************************************************************************
// **************************************** BTN **********************************
// ********************************************************************************


.btn { 
    width: 250px;
    height: 80px;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: $fontsize_btn;
    font-weight: bold;
    @include PinkPurple_background;
    box-shadow: 5px 5px 5px $boxshadow-color;      
    border-radius: $br-btn;
    padding: 21px;
    margin: auto;
    border: none;
    &:hover {
        &::after { 
        opacity: .7;
        box-shadow: 10px 10px 5px, $boxshadow-color; 
        }
    }
    &::after {
        content:"";
       @include light-PinkPurple_background;
        height: 80px;
        border-radius: $br-btn;
        position: absolute;
        z-index: -1; 
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        }
    }

// ********************************************************************************
// **************************************** FOOTER ********************************
// ********************************************************************************

footer {
    background-color: $background-color-footer;
    color: #fff;
    padding: 20px 20px 10px 20px;
    .logo__title { 
        font-family: $font-title;
        font-size: 1.5em; 
        padding-bottom: 10px;
        .footer_menu { 
            @include laptop-size {
                text-align: center;
            }
            @include large-screen {
                text-align: center;
            }
            @include big-screen {
                text-align: center;
            }
        }
    }

    .breakpoints__footer {
        @include laptop-size {
            display: flex; 
            justify-content: space-evenly;
        }
        @include large-screen {
            display: flex; 
            justify-content: space-evenly;
        }
        @include big-screen {
            display: flex; 
            justify-content: space-evenly;
        }
    }
    i {
        padding-right: 10px;
    }
    a {
        color: #fff;
    }
}

