@import "./utils/variables";
@import "./base/base";
@import "./utils/keyframes";

@mixin tablet {
    @media screen and (min-width: 426px) and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 769px) and (max-width: 1024px) { 
        @content;
    }
}

@mixin large_laptop {
    @media screen and (min-width: 1025px) { 
        @content;
    }
}

// ********************************************************************************
// **************************************** LOADING SPINNER **********************************
// ********************************************************************************


.main_content {
    position: relative; 
    z-index: 0;
}
// .loading_spinner {
//     position: absolute;
//     z-index: 3;
//     width: 100%;
//     height: 100%;
//     background-color: #fff;
//     font-size: 50px;
//     color: $tertiary-color;
//     display: flex; 
//     justify-content: center;
//     align-items: center;
//     animation: disappear 1000ms 3110ms ease-in-out forwards;
//     i {
//         animation: rotate 1000ms 100ms ease-in-out;
//         animation-iteration-count: 3;  
//     }
// }

//// ********************************************************************************
// **************************************** HEADER **********************************
// ********************************************************************************

header {
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    img {
        width: 200px;
        margin: auto;
    }
    i {
        padding-left: 15px;
        font-size: 1.5em;
    }
}

.intro {
    text-align: center;
    background-color: $background-color-grey; 
    font-family: $font-text;
    .intro__loc {
        background-color: $background-color-loc;
        box-shadow: inset 3px 3px 5px $boxshadow-color ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        }
        i {
            padding-right: 15px;
        }
    .intro__res {
        padding: 0 30px 30px 30px;
    }
}
 
// ********************************************************************************
// ********************************** PAGE ACCUEIL ********************************
// ********************************************************************************

/*------------------------ P1 / SECTION FONCTIONNEMENT --------------------------*/
.fct {
    margin: auto;
}
    
    /* Contenu FONCTIONNEMENT :
    1 selecteur <fct__> appliqué pour les 3 étiquettes*/
    
.fct__select {
    width: 90%;
    margin: auto;
    position: relative;
    background: $background-color-grey;
    border-radius: 15px;
    box-shadow: 3px 3px 5px $boxshadow-color;
    display: flex; 
    align-items: center;
    margin-bottom: 15px;
    &:hover {
         background: rgba(104, 50, 170, 0.1);
    }
    .fct__select__number {
        background-color: $primary-color;
        color: #ffff;
        border-radius: 100%;
        padding: 5px 8px 5px 8px;
        position: relative;
        left: -8px;
    }
    .fct__select__text i {
        padding: 0 20px 0 20px;
        color: grey;
    }
}

// .fct__select::after {
//     content:"";
//     position: absolute; 
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background: lighten($primar-color, 50);
//     opacity: 0;
// }

/*-----------------------------------P1 // restaurant__select ---------------------------*/

.restaurant {
    background-color: $background-color-grey;
    padding-bottom: 15px;
    .restaurant__select {
        width: 90%;
        position: relative;
        margin: auto;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 15px;
        margin-bottom: 15px;
    }
}

.restaurant span { //  Etiquette verte NOUVEAU 
    background-color: $background-color-new;
    color: $font-color-new;
    padding: 5px 10px 5px 10px;
    z-index: 1;
    display: inline block;
    position: absolute;
    right: 20px;
    top: 15px;
}

figure { 
    margin: auto;
    img {
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
}

figcaption {
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    .restaurant__select__name {
        display: flex; 
        flex-direction: column;
    }
    h3 {
        margin: 0;
        font-size: $fontsize_h3;
    }
    p {
        margin: 0;
        font-size: $fontsize_p;
    }
}
.like {
    position: relative;
    top: 10px;
    right: 30px;
    font-size: $fontsize_i;
    .full_heart i {
        position: absolute;
        z-index: 10;
        color: $tertiary-color;
    }
    .empty_heart i {
        color: $tertiary-color;
        background-color: #fff;
        position: absolute; 
        z-index: 11;
    }
}
.empty_heart i { 
    &:hover {
        animation: heart_filling 1000ms ease-out forwards;
    }
}


// ********************************************************************************
// **************************************** MENU **********************************
// ********************************************************************************


.background img {
    width: 100%;
    object-fit: cover;
}

.menu__background {
    position: relative;
    margin-top: -80px;
    background-color: $background-color-grey;
    border-radius: 40px 40px;
}

.menu__descr {
    width: 300px;
    margin: auto;
}

.restaurant__name {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.dish__content {
    padding-bottom: 30px;
    // margin: auto; /*permet de centrer les blocs menus */
}

#underline {
    width: 30px;
    height: 4px;
    background-color: $tertiary-color;
    margin-bottom: 15px;
}

// .dish__starters, .dish__main, .dish__deserts {
//     // opacity: 0; remettre opacity à 0 pour relancer l'animation
// }

// Animation apparition blocs menus
// .dish__deserts {
//     animation: appear 600ms 100ms ease-in-out;
//     animation-fill-mode: forwards; 
// }
// .dish__main {
//     animation: appear 600ms 500ms ease-in-out;
//     animation-fill-mode: forwards; 
// }
// .dish__starters {
//     animation: appear 600ms 1000ms ease-in-out;    
//     animation-fill-mode: forwards; 
// }

// Contenu blocs menu 
.dish__select {
    position: relative;
    margin-bottom: 15px;
}

.dish__select__text {
    position: relative;
    z-index: 1;
    background-color: #fff;
    height: 50px;
    border-radius: 15px;
    padding: 10px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    p {
        margin: 0;
    }
    .price {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
}

.dish__select__check {
    position: absolute;
    left: 230px;
    bottom: 0px;
    z-index: 0;
    width: 70px;
    height: 70px;
    background-color: $tertiary-color;
    border-radius: 0 20px 20px 0;
    i {
        color: #fff;
        padding: 30px 35px;
    }
}

.dish__select__text { 
        &:hover {
           animation: slidein 800ms, border_radius 20ms ease-in-out;
           animation-fill-mode: forwards;
        }
        &:hover + .dish__select__check i {
            animation: rotate 500ms 300ms;
        }
    }

// ********************************************************************************
// **************************************** BTN **********************************
// ********************************************************************************



.btn {
    width: 250px;
    height: 80px;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    background: radial-gradient(at top left, $secondary-color, $primary-color);
    box-shadow: 5px 5px 5px $boxshadow-color;      
    border-radius: 30px;
    padding: 21px;
    border: none;
    &:hover {
        &::after { 
        opacity: .7;
        box-shadow: 10px 10px 5px, $boxshadow-color; 
        }
    }
    &::after {
        content:"";
        background: radial-gradient(at top left, lighten($secondary-color,5), lighten($primary-color,5));
        height: 80px;
        border-radius: 30px;
        position: absolute;
        z-index: -1; 
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        }
    }



// ********************************************************************************
// **************************************** FOOTER ********************************
// ********************************************************************************

footer {
    background-color: $background-color-footer;
    color: #fff;
    padding: 20px 0 10px 20px;
    .logo_title { 
        font-family: $font-title;
        font-size: 1.5em; 
    }
    i {
        padding-right: 15px;
    }
    a {
        color: #fff;
    }
}

