@charset "UTF-8";
body {
  margin: 0;
  position: relative;
  font-family: "roboto";
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  body {
    width: 50%;
    margin: auto;
  }
}

@media screen and (min-width: 1601px) {
  body {
    width: 50%;
  }
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  /* homepage titre RESERVEZ LE MENU QUI VOUS CONVIENT */
  font-size: 1.2em;
  font-weight: bold;
}

h2 {
  /* homepage titre FONCTIONNEMENT et RESTAURANTS */
  font-size: 1em;
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    text-align: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  h2 {
    text-align: center;
  }
}

@media screen and (min-width: 1601px) {
  h2 {
    text-align: center;
  }
}

/*h3 : homepage: nestés dans figcaption */
h4 {
  /*menu titre des resto avec coeur à liker - display: flex*/
  font-family: "shrikhand";
  font-size: 1.2em;
}

h5 {
  /* menu titre des dishes__item*/
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  font-size: 0.8em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-arrow-left {
  color: black;
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
    z-index: 3;
  }
  80% {
    opacity: .2;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    z-index: 3;
  }
  80% {
    opacity: .2;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}

@-webkit-keyframes heart_filling {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes heart_filling {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes appear {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-right: 100%;
    width: 80%;
  }
  to {
    margin-right: 80%;
    width: 70%;
  }
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 80%;
  }
  to {
    margin-right: 80%;
    width: 70%;
  }
}

@-webkit-keyframes border_radius {
  0% {
    border-radius: 15px;
  }
  2%, 100% {
    border-radius: 15px 0 0 15px;
  }
}

@keyframes border_radius {
  0% {
    border-radius: 15px;
  }
  2%, 100% {
    border-radius: 15px 0 0 15px;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.loading_spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 15;
  background-color: #fff;
  opacity: .9;
  -webkit-animation: disappear 200ms 2700ms ease-in-out forwards;
          animation: disappear 200ms 2700ms ease-in-out forwards;
}

.loading_spinner i {
  font-size: 50px;
  color: #99e2d0;
  -webkit-animation: rotate 800ms 100ms ease-in-out;
          animation: rotate 800ms 100ms ease-in-out;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .loading_spinner {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .loading_spinner {
    width: 50%;
    margin: auto;
  }
}

@media screen and (min-width: 1601px) {
  .loading_spinner {
    width: 50%;
    margin: auto;
  }
}

header {
  text-align: center;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 200px;
  margin: auto;
}

header i {
  padding-left: 15px;
  font-size: 1.5em;
}

/*------------------------------------ INTRO -------------------------------------*/
.intro {
  text-align: center;
  background-color: #edebeb;
  font-family: "roboto";
}

.intro .intro__loc {
  background-color: #ded9db;
  -webkit-box-shadow: inset 3px 3px 5px #c9c8c8;
          box-shadow: inset 3px 3px 5px #c9c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
  padding-top: 15px;
}

.intro i {
  padding-right: 15px;
}

.intro .intro__res {
  padding: 0 30px 30px 30px;
}

.intro p {
  padding-bottom: 20px;
  /*padding-bottom pour aérer le bouton*/
}

/*----------------------------------- FONCTIONNEMENT ----------------------------*/
.fct {
  padding-bottom: 20px;
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fct {
    width: 70%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .fct {
    width: 70%;
  }
}

@media screen and (min-width: 1601px) {
  .fct {
    width: 700px;
  }
}

.fct__select {
  width: 90%;
  height: 50px;
  margin: auto;
  position: relative;
  background: #edebeb;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px #c9c8c8;
          box-shadow: 3px 3px 5px #c9c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 1601px) {
  .fct__select {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .fct__select:active::after {
    opacity: .2;
  }
}

@media screen and (min-width: 1025px) {
  .fct__select:hover::after {
    opacity: .2;
  }
}

.fct__select .fct__select__number {
  background-color: #9356DC;
  color: #ffff;
  border-radius: 100%;
  padding: 5px 8px 5px 8px;
  position: relative;
  left: -8px;
  z-index: 3;
}

.fct__select .fct__select__text i {
  padding: 0 20px 0 20px;
  color: grey;
}

.fct__select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  background: #c9abee;
  opacity: 0;
  z-index: 2;
}

/*---------------------------------- RESTAURANTS  ---------------------------*/
.restaurant {
  background-color: #edebeb;
  padding-bottom: 15px;
}

.restaurant .restaurant__select {
  width: 90%;
  position: relative;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .restaurant .restaurant__select {
    max-width: 45%;
  }
}

@media screen and (min-width: 1601px) {
  .restaurant .restaurant__select {
    max-width: 45%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .breakpoints_block {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .breakpoints_block {
    width: 70%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1601px) {
  .breakpoints_block {
    width: 70%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.restaurant span {
  background-color: #6ff5ee;
  color: #0d998b;
  padding: 5px 10px 5px 10px;
  z-index: 1;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 15px;
}

figure {
  margin: auto;
}

figure img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

figcaption {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
}

figcaption .restaurant__select__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

figcaption h3 {
  margin: 0;
  font-size: 0.9em;
}

figcaption p {
  margin: 0;
  font-size: 0.8em;
}

.like {
  position: relative;
  font-size: 1.2em;
}

.like .full_heart {
  position: absolute;
  z-index: 10;
  background-image: radial-gradient(at top left, #ff7ad9, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.like .empty_heart i {
  color: black;
  background-color: #fff;
  position: relative;
  z-index: 11;
}

@media screen and (max-width: 1024px) {
  .empty_heart i:active {
    -webkit-animation: heart_filling 500ms ease-out forwards;
            animation: heart_filling 500ms ease-out forwards;
  }
}

@media screen and (min-width: 1025px) {
  .empty_heart i:hover {
    -webkit-animation: heart_filling 500ms ease-out forwards;
            animation: heart_filling 500ms ease-out forwards;
  }
}

.background img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .background img {
    height: 300px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .background img {
    height: 450px;
  }
}

@media screen and (min-width: 1601px) {
  .background img {
    height: 400px;
  }
}

.menu__background {
  background-color: #edebeb;
  position: relative;
  margin-top: -80px;
  padding-bottom: 30px;
  /*padding-bottom pour aérer le bouton*/
  border-radius: 40px 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu__background {
    margin-top: -50px;
  }
}

@media screen and (min-width: 1601px) {
  .menu__background {
    margin-top: -70px;
  }
}

.menu__content {
  padding: 0 15px 30px 15px;
  /*padding-bottom pour aérer le bouton*/
  width: 290px;
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu__content {
    width: 400px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .menu__content {
    width: 535px;
  }
}

@media screen and (min-width: 1601px) {
  .menu__content {
    width: 800px;
  }
}

.restaurant__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.underline {
  width: 30px;
  height: 4px;
  background-color: #99e2d0;
  margin: 2px 0 15px 0;
}

.menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.menu__block {
  opacity: 0;
}

.block-1 {
  -webkit-animation: appear 600ms 1000ms ease-in-out;
          animation: appear 600ms 1000ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.block-2 {
  -webkit-animation: appear 600ms 500ms ease-in-out;
          animation: appear 600ms 500ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.block-3 {
  -webkit-animation: appear 600ms 100ms ease-in-out;
          animation: appear 600ms 100ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu__block__select {
  position: relative;
  margin-bottom: 15px;
}

.menu__select__text {
  position: absolute;
  z-index: 21;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 15px;
  -webkit-transition: width 800ms;
  transition: width 800ms;
}

.menu__select__text .descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__select__text .price {
  font-size: 0.8em;
  font-weight: bold;
}

.menu__select__check {
  position: relative;
  z-index: 20;
  height: 30px;
  background-color: #99e2d0;
  border-radius: 15px;
  padding: 10px 15px;
}

.menu__select__check i {
  color: #fff;
  position: relative;
  left: 245px;
  top: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu__select__check i {
    left: 345px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .menu__select__check i {
    left: 470px;
  }
}

@media screen and (min-width: 1601px) {
  .menu__select__check i {
    left: 710px;
  }
}

.menu__block__select {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .menu__block__select:active .menu__select__text {
    width: 85%;
  }
  .menu__block__select:active .menu__select__check i {
    -webkit-animation: rotate 700ms 300ms;
            animation: rotate 700ms 300ms;
  }
}

.menu__block__select {
  cursor: pointer;
}

@media screen and (min-width: 1025px) {
  .menu__block__select:hover .menu__select__text {
    width: 85%;
  }
  .menu__block__select:hover .menu__select__check i {
    -webkit-animation: rotate 700ms 300ms;
            animation: rotate 700ms 300ms;
  }
}

.btn {
  width: 250px;
  height: 80px;
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  background-image: radial-gradient(at top left, #ff7ad9, #9356DC);
  -webkit-box-shadow: 5px 5px 5px #c9c8c8;
          box-shadow: 5px 5px 5px #c9c8c8;
  border-radius: 30px;
  padding: 21px;
  margin: auto;
  border: none;
}

.btn:hover::after {
  opacity: .7;
  -webkit-box-shadow: 10px 10px 5px #c9c8c8;
          box-shadow: 10px 10px 5px #c9c8c8;
}

.btn::after {
  content: "";
  background-image: radial-gradient(at top left, #ff94e0, #a16be0);
  height: 80px;
  border-radius: 30px;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

footer {
  background-color: #464444;
  color: #fff;
  padding: 20px 20px 10px 20px;
}

footer .logo__title {
  font-family: "shrikhand";
  font-size: 1.5em;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer .logo__title {
    text-align: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  footer .logo__title {
    text-align: center;
  }
}

@media screen and (min-width: 1601px) {
  footer .logo__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer .breakpoints__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  footer .breakpoints__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1601px) {
  footer .breakpoints__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

footer i {
  padding-right: 10px;
}

footer a {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */