@charset "UTF-8";
/* POLICES */
/* COULEURS */
body {
  margin: 0;
  font-family: "roboto";
}

#block-page {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

h1 {
  /* homepage titre RESERVEZ LE MENU QUI VOUS CONVIENT */
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  /* homepage titre FONCTIONNEMENT et RESTAURANTS */
  font-size: 1.5em;
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;
}

/*h3 : homepage: nestés dans figcaption */
h4 {
  /*menu titre des resto avec coeur à liker - display: flex*/
  font-family: "shrikhand";
  font-size: 1.6em;
}

h5 {
  /* menu titre des dishes__item*/
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 3px;
}

p {
  font-size: 0.8em;
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
    z-index: 3;
  }
  80% {
    opacity: .2;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    z-index: 3;
  }
  80% {
    opacity: .2;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}

@-webkit-keyframes heart_filling {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    color: black;
  }
  25% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    color: #ff7ad9;
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: .5;
  }
  90% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: .2;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes heart_filling {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    color: black;
  }
  25% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    color: #ff7ad9;
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: .5;
  }
  90% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: .2;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: .8;
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: .9;
  }
  75% {
    -webkit-transform: tanslateY(-10px);
            transform: tanslateY(-10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: .8;
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: .9;
  }
  75% {
    -webkit-transform: tanslateY(-10px);
            transform: tanslateY(-10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-right: 100%;
    width: 100%;
  }
  to {
    margin-right: 80%;
    width: 80%;
  }
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 100%;
  }
  to {
    margin-right: 80%;
    width: 80%;
  }
}

@-webkit-keyframes border_radius {
  0% {
    border-radius: 15px;
  }
  2%, 100% {
    border-radius: 15px 0 0 15px;
  }
}

@keyframes border_radius {
  0% {
    border-radius: 15px;
  }
  2%, 100% {
    border-radius: 15px 0 0 15px;
  }
}

@-webkit-keyframes check_rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes check_rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.main_content {
  position: relative;
  z-index: 0;
}

.loading_spinner {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 50px;
  color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: disappear 1000ms 3110ms ease-in-out forwards;
          animation: disappear 1000ms 3110ms ease-in-out forwards;
}

.loading_spinner i {
  -webkit-animation: check_rotate 1000ms 100ms ease-in-out;
          animation: check_rotate 1000ms 100ms ease-in-out;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

header {
  text-align: center;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 200px;
  margin: auto;
}

header i {
  padding-left: 15px;
  font-size: 1.5em;
}

.intro {
  text-align: center;
  background-color: #edebeb;
  font-family: "roboto";
}

.intro .intro__loc {
  background-color: #ded9db;
  -webkit-box-shadow: inset 3px 3px 5px #c9c8c8;
          box-shadow: inset 3px 3px 5px #c9c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
}

.intro i {
  padding-right: 15px;
}

.intro .intro__res {
  padding: 0 30px 30px 30px;
}

/*------------------------ P1 / SECTION FONCTIONNEMENT --------------------------*/
.fct {
  margin: auto;
}

/* Contenu FONCTIONNEMENT :
    1 selecteur <fct__> appliqué pour les 3 étiquettes*/
.fct__select {
  width: 90%;
  margin: auto;
  background-color: #edebeb;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px #c9c8c8;
          box-shadow: 3px 3px 5px #c9c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.fct__select:hover {
  background-color: rgba(104, 50, 170, 0.1);
}

.fct__select .fct__select__number {
  background-color: #9356DC;
  color: #ffff;
  border-radius: 100%;
  padding: 5px 8px 5px 8px;
  position: relative;
  left: -8px;
}

.fct__select .fct__select__text i {
  padding: 0 20px 0 20px;
  color: grey;
}

/*-----------------------------------P1 // restaurant__select ---------------------------*/
.restaurant {
  background-color: #edebeb;
  padding-bottom: 15px;
}

.restaurant .restaurant__select {
  width: 90%;
  position: relative;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
}

.restaurant span {
  background-color: #6ff5ee;
  color: #0d998b;
  padding: 5px 10px 5px 10px;
  z-index: 1;
  display: inline block;
  position: absolute;
  right: 20px;
  top: 15px;
}

figure {
  margin: auto;
}

figure img {
  width: 100%;
  max-height: 490px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

figcaption {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2em;
  padding: 8px;
}

figcaption .restaurant__select__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

figcaption h3 {
  margin: 0;
  font-size: 1em;
}

figcaption p {
  margin: 0;
  font-size: 0.8em;
}

.like {
  position: relative;
  top: 10px;
  right: 30px;
}

.like .full_heart i {
  position: absolute;
  z-index: 10;
  font-size: 1.2em;
  color: #ff7ad9;
}

.like .empty_heart i {
  color: black;
  font-size: 1.2em;
  background-color: #fff;
  position: absolute;
  z-index: 12;
}

.empty_heart i:hover {
  -webkit-animation: heart_filling 500ms ease-out forwards;
          animation: heart_filling 500ms ease-out forwards;
}

.background img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__background {
  position: relative;
  margin-top: -80px;
  background-color: #edebeb;
  border-radius: 40px 40px;
}

.menu__descr {
  margin: auto;
}

.restaurant__name {
  margin: auto;
  text-align: center;
}

.restaurant__name h4 {
  font-size: 1.5em;
  padding-top: 15px;
}

.dish__content {
  width: 300px;
  padding-bottom: 30px;
  margin: auto;
  /*permet de centrer les blocs menus */
}

#underline {
  width: 30px;
  height: 4px;
  background-color: #99e2d0;
  margin-bottom: 15px;
}

.dish__starters, .dish__main, .dish__deserts {
  opacity: 0;
}

.dish__deserts {
  -webkit-animation: appear 600ms 100ms ease-in-out;
          animation: appear 600ms 100ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish__main {
  -webkit-animation: appear 600ms 500ms ease-in-out;
          animation: appear 600ms 500ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish__starters {
  -webkit-animation: appear 600ms 1000ms ease-in-out;
          animation: appear 600ms 1000ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish__select {
  position: relative;
  margin: 15px;
}

.dish__select__text {
  position: relative;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  padding: 10px 15px;
}

.dish__select__text p {
  margin: 0;
}

.dish__select__text .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dish__select__check {
  position: absolute;
  left: 230px;
  bottom: 0px;
  z-index: 0;
  width: 70px;
  height: 70px;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
}

.dish__select__check i {
  color: #fff;
  padding: 30px 35px;
}

.dish__select__text:hover {
  -webkit-animation: slidein 800ms, border_radius 20ms ease-in-out;
          animation: slidein 800ms, border_radius 20ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish__select__text:hover + .dish__select__check i {
  -webkit-animation: check_rotate 500ms 300ms;
          animation: check_rotate 500ms 300ms;
}

.btn {
  -ms-grid-column-align: center;
      justify-self: center;
}

.btn {
  width: 250px;
  color: #ffff;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #9356DC;
  -webkit-box-shadow: inset 20px 20px 50px #ff7ad9, 5px 5px 5px #c9c8c8;
          box-shadow: inset 20px 20px 50px #ff7ad9, 5px 5px 5px #c9c8c8;
  border-radius: 30px;
  padding: 20px;
  border: none;
}

s
.btn:hover {
  background-color: #ae80e5;
}

footer {
  background-color: #464444;
  color: #fff;
  padding: 20px 0 10px 20px;
}

footer .logo_title {
  font-family: "shrikhand";
  font-size: 1.5em;
}

footer i {
  padding-right: 15px;
}

footer a {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */