
header {
    display: flex; 
    justify-content: center;
    padding-bottom: 15px;
    img {
        width: 150px;
    }
}

.header--arrow_left {
    display: flex; 
    justify-content: center;
    img {
        width: 150px;
    }
    i {
        color: black;
    }

}
