// Page d'accueil

// // ANIMATION Loading-spinner

@keyframes disappear {
    0% {
        opacity: 1;
        z-index: 3;
    }
    80% {
        opacity: .2;
    }
    100% {
        opacity: 0;
        z-index: -2;
    }
}

@keyframes heart_filling {
    from {
        opacity:1;
    }
    to {
       opacity:0;
    }
}

// Page des menus

// ANIMATION Apparition menu

@keyframes appear {
   from { 
        opacity: 0;
        transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(20px);
        transform: translateY(-10px);
    }
}

// Apparition coche dans menu__card
@keyframes translateX {
    from {
        transform: translateX(0);
        
    }
    to {
        transform: translateX(-60px);
    }
}

// Icone rotate (Check + knife&forch loading spinner)
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}


// Menu__descr se rétrécit + ellipse du texte
@keyframes ellipsis {
    from {
        width: 75%;
    }
    to {
        width: 60%;
    }
}



