// Page d'accueil

// // ANIMATION Loading-spinner

@keyframes disappear {
    0% {
        opacity: 1;
        z-index: 3;
    }
    80% {
        opacity: .2;
    }
    100% {
        opacity: 0;
        z-index: -2;
    }
}

@keyframes heart_filling {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

// Page des menus

// ANIMATION Apparition menu

@keyframes appear {
   from { 
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

// DIV Check apparait

@keyframes slidein {
    from {
        margin-right: 100%;
        width: 80%;
    }

    to {
        margin-right: 80%;
        width: 70%;
    }
}

// Angles arrondis redeviennent carrés
@keyframes border_radius {
    0% {
        border-radius: 15px;
    }

    2%,100% {
        border-radius: 15px 0 0 15px;
    }
}


// Icone rotate (Check + knife&forch loading spinner)
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn)
    }
}
