// // Keyframes première version



// @keyframes check_appear {
//     0% {
//         transform: translate(0px);
//         opacity: .0;
//     }
//     25%{
//         transform: translate(-20px);
//         opacity: .0;
//     }
//     50%,100% {
//         opacity: 1;
//     }
//     50% {
//         transform: translate(-40);
//     }
//     100% {
//         transform: translate(-60px);
        
//     }
// }

@keyframes check_rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn)
    }
}


// // Keyframes deuxième version
@keyframes slidein {
    from {
        margin-right: 100%;
        width: 100%;
    }

    to {
        margin-right: 80%;
        width: 80%;
    }
}

@keyframes border_radius {
    0% {
        border-radius: 20px;
    }

    2%,100% {
        border-radius: 0;
    }
}


