/* POLICES */
$font-text: 'roboto';
$font-title: 'shrikhand';


/* COULEURS */
$primary-color: #9356DC;
$secondary-color: #ff7ad9;
$tertiary-color: #99e2d0;
$background-color-grey: #edebeb;
$background-color-loc: #ded9db; 
$background-color-footer: #464444;
$background-color-new: #6ff5ee;
$boxshadow-color: #c9c8c8;

$font-color-new:#0d998b;
