footer {
    background-color: $background-color-footer;
    color: #fff;
    padding: 20px 0 10px 15px;
    h4 { 
        display: inline;
        font-family: $font-title;
        font-size: 1.2em; 
    }
    .footer__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 0.2em;
    }
    i {
        padding-right: 15px;
    }
}
