.btn {
    width: 250px;
    color: #ffff;
    font-size: 1.1em;
    font-weight: bold;
    background-color: $primary-color;
    box-shadow: inset 20px 20px 50px $secondary-color, 5px 5px 5px $background-color-loc;         
    border-radius: 30px;
    padding: 20px;
    border: none;
    
    &:hover {
        background-color: lighten($primary-color, 10%);
    }
}