body { 
    margin: 0;
    position: relative;
    font-family: $font-text;
    @include laptop-size {
        width: 70%;
        margin: auto;
    }
    @include large-screen {
        width: 50%;
        margin: auto;
    }
    @include big-screen {
        width: 50%;
    }   margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

h1 { /* homepage titre RESERVEZ LE MENU QUI VOUS CONVIENT */
    font-size: $fontsize_h1;
    font-weight: bold;
}

h2 { /* homepage titre FONCTIONNEMENT et RESTAURANTS */
    font-size: $fontsize_h2;
}

h3 {
    font-size: $fontsize_h3;
}

p {
    font-size: $fontsize_p;
    margin: 0;
    
}

.fa-arrow-left {
    color: black;
}